.banner-text{
    margin:20px 520px 25px 520px;
    font-weight: 600;
    font-size: 88.9808px;
    line-height: 94px;
    text-align: center;
}
.banner-text-small{
    margin:20px 530px 100px 530px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.homepage-content{
    padding: 60px;
}
.homepage-lists{
    margin-top: 50px;
    padding:50px;
    display: flex;
    flex-direction: row;
}
.top-buggers-list{
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto;
    margin-right: 70px;
    width:100%;
    background-color: #c4c4c4;
    border:1px solid grey
}
.top-buggers-list-header{
    font-weight: bold;
font-size: 24.8786px;
line-height: 37px;
text-align: center;
padding-top: 15px;
color: #000000;
margin-bottom: 20px;
}
.top-buggers-list-content{
    display:flex;
    flex-direction:row;
    
    border-top:0.5px solid black;
    padding:15px 20px 15px 20px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.top-games-list{
    height: 700px;
    width:100%;
    background-color:#cfcfcf;
    border:1px solid grey ;
    max-height: 700px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.text-ellipsis{
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: yellow;
}